@using System.Data;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="index.html">Users</a>
    </li>
    <li class="breadcrumb-item">
        <span>List</span>
    </li>
</ul>
<!--------------------
END - Breadcrumbs
-------------------->
<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Users Section
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Users List
                </h5>
                <div class="form-desc">
                    DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews. <a href="http://www.dropzonejs.com/" target="_blank">Learn More here</a>
                </div>
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["SuccessMessage"])))
                {
                    <div class="alert alert-success"><strong>Done!</strong> @TempData["SuccessMessage"]</div>
                }
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["DeleteMessage"])))
                {
                    <div class="alert alert-warning"><strong>Done!</strong> @TempData["DeleteMessage"]</div>
                }

                @{
                    DataTable _dt;
                    if (ViewData["UsersList"] != null)
                    {
                        _dt = (DataTable)ViewData["UsersList"];
                        if (_dt.Rows.Count == 0)
                        {
                            <div class="text-center">
                                <h5>No Business Registered</h5>
                                <small style="border-bottom: 0px;" class="form-desc">
                                    You have not registered any business yet. Click below to register your first business.
                                    <br /><br />
                                    <a asp-controller="Business" asp-action="Create" class="btn btn-outline-success text-center">Register Now</a>
                                </small>
                            </div>
                        }
                        else
                        {
                            <table id="dataTable1" width="100%" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>
                                        <th>Name</th>
                                        <th>eMail</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < _dt.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@_dt.Rows[i]["name"]</td>
                                            <td>@_dt.Rows[i]["email"]</td>
                                            <td>@_dt.Rows[i]["created_on"]</td>
                                            <td>@_dt.Rows[i]["is_active"]</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        ...
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <a class="dropdown-item" asp-controller="AdminUsers" asp-action="ChangeStatus" asp-route-id="@_dt.Rows[i]["id_user_master"]">Change Status</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    }
                    else
                    {
                        <div class="text-center">
                            <h5>@ViewData["ErrorMessage"]</h5>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>



