@model AccountingPlanner.Models.Expense.RecieptModel

@{
    ViewData["Title"] = "Reciepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="index.html">Expense</a>
    </li>
    <li class="breadcrumb-item">
        <span>Reciepts</span>
    </li>
</ul>

<!--------------------
END - Breadcrumbs
-------------------->
<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Reciept Management
            </h6>
            <div class="row">
                <div class="col-md-8">
                    <div class="element-box">
                        <h5 class="form-header">
                            Reciept List
                        </h5>
                        <div class="form-desc">
                            DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews. <a href="http://www.dropzonejs.com/" target="_blank">Learn More here</a>
                        </div>
                        @if (!string.IsNullOrEmpty(Convert.ToString(TempData["DeleteMessage"])))
                        {
                            <div class="alert alert-warning"><strong>Deleted!</strong> @TempData["DeleteMessage"]</div>
                        }
                        @{
                            DataTable _dt;
                            if (ViewData["RecieptList"] != null)
                            {
                                _dt = (DataTable)ViewData["RecieptList"];
                                if (_dt.Rows.Count == 0)
                                {
                                    <div class="text-center">
                                        <h5>No Reciept Registered</h5>
                                        <small style="border-bottom: 0px;" class="form-desc">
                                            You have not registered any reciepts yet. Fill the form displayed to register a new reciept.
                                        </small>
                                    </div>
                                }
                                else
                                {
                                    <table id="dataTable1" width="100%" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Date</th>
                                                <th>Sub Total</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < _dt.Rows.Count; i++)
                                            {
                                                <tr>
                                                    <td><a href="@_dt.Rows[i]["image"]" target="_blank">View</a></td>
                                                    <td>@_dt.Rows[i]["dated"]</td>
                                                    <td>@_dt.Rows[i]["subtotal"]</td>
                                                    <td>@_dt.Rows[i]["total"]</td>
                                                    <td>
                                                        <div class="btn-group" role="group">
                                                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                ...
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                <a class="dropdown-item" href="#">Edit</a>
                                                                <a class="dropdown-item" asp-controller="Customer" asp-action="Delete" asp-route-id="@_dt.Rows[i]["id_reciept_master"]">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                            }
                            else
                            {
                                <div class="text-center">
                                    <h5>@ViewData["ListErrorMessage"]</h5>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="element-box">
                        <h5 class="form-header">
                            Register Vendor
                        </h5>
                        <div class="form-desc">
                            DropzoneJS is an open source library that provides.
                        </div>
                        @if (!string.IsNullOrEmpty(Convert.ToString(ViewData["ErrorMessage"])))
                        {
                            <div class="alert alert-danger"><strong>Oops!</strong> @ViewData["ErrorMessage"]</div>
                        }
                        @if (!string.IsNullOrEmpty(Convert.ToString(ViewData["SuccessMessage"])))
                        {
                            <div class="alert alert-success"><strong>Registered!</strong> @ViewData["SuccessMessage"]</div>
                        }

                        <form asp-action="Index" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="image" class="control-label"></label>
                                <input asp-for="image" class="form-control" />
                                <span asp-validation-for="image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="dated" class="control-label"></label>
                                <input type="date" asp-for="dated" class="form-control" />
                                <span asp-validation-for="dated" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="notes" class="control-label"></label>
                                <input placeholder="Enter nodes" asp-for="notes" class="form-control" />
                                <span asp-validation-for="notes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="category" class="control-label"></label>
                                <select asp-for="category" class="form-control">
                                    <option value="">-- Choose One --</option>
                                    <option value="1">Accounting Fees</option>
                                </select>
                                <span asp-validation-for="category" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="payment_account" class="control-label"></label>
                                <select asp-for="payment_account" class="form-control">
                                    <option value="">-- Choose One --</option>
                                    <option value="1">Cash On Hand</option>
                                    <option value="2">Owner Investment / Drawings</option>
                                </select>
                                <span asp-validation-for="payment_account" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="subtotal" class="control-label"></label>
                                <input type="number" asp-for="subtotal" class="form-control" />
                                <span asp-validation-for="subtotal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="currency" class="control-label"></label>
                                <select asp-for="currency" class="form-control">
                                    <option value="">-- Choose One --</option>
                                    @{
                                        DataTable dt2;
                                        if (ViewData["CountryList"] != null)
                                        {
                                            dt2 = (DataTable)ViewData["CountryList"];

                                            for (int i = 0; i < dt2.Rows.Count; i++)
                                            {
                                                <option value="@dt2.Rows[i]["id_country"]">@dt2.Rows[i]["currency"]</option>
                                            }
                                        }
                                    }
                                </select>
                                <span asp-validation-for="currency" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="total" class="control-label"></label>
                                <input type="number" asp-for="total" class="form-control" />
                                <span asp-validation-for="total" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
